body {
    border: 1px solid black;
    font-family: 'Work Sans', sans-serif;
    margin: 0;

}

/* ----first section---- */
.first-section {
    width: 1920px;
    background: rgba(255, 144, 14, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    /* margin-top: 50px; */
    margin-left: 228px;

}

.header-info {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    /* margin-top: 63px; */
    margin-right: 240px;
}

.header-info a {
    margin-right: 10px;

}

.brand-new {
    text-align: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

#brand-new-title {
    font-weight: 700;
    font-size: 64px;
    width: 862px;
}

.about {
    font-weight: 400;
    font-size: 16px;
    width: 862px;
    margin-bottom: 50px;
}

.brand-new-button {
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;

}

.brand-new img {
    margin-top: 50px;
    margin-bottom: 45px;
}

.quick-list {

    width: 540px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 45px;
}

/* ----second section------ */
.second-section {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.quicklist-title {
    font-weight: 500;
    font-size: 45px;
}

/* ----third section---- */
.third-section {
    width: 1440px;
    display: flex;
    gap: 100px;
    margin-top: 130px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.feature-part {
    width: 586px;
    display: flex;
    flex-direction: column;

}

.love-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.special-about {
    margin-bottom: 30px;
}

.feature-about {
    font-weight: 400;
    font-size: 16px;
    color: #727272;


}

.feature-type {
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    width: 586px;
    height: 171px;
}

.feature-title {}

.girl-photo {
    width: 800px;
    height: 1059px;

}

.year-button {
    background: #FF900E;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    position: relative;
    top: -50px;
}

/* ----fourth section------ */
.fourth-section {
    margin-left: 240px;
    margin-bottom: 100px;
}

.facts-part {
    width: 542px;
    height: 171px;
    margin-bottom: 20px;
}

.facts-about {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.box-facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 290px;

}

.box {
    border: 1px solid orange;
    width: 180px;
    height: 180px;
    padding: 50px;
    padding-bottom: 60px;
    
    border-radius: 10px;
}
.box-image{
    display: block;
    align-self: center;
    margin: 0px auto;
}

.number {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    margin: 10px;
}

.definition {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    text-align: center;
    /* -----fifth section-----727272; */
}

.fifth-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.sponsors-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
}

.sponsors-about {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}

.all-sponsors {
    display: flex;
    gap: 100px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}


/* contact styles */
.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700px;
}
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}
.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    padding: 18px 35px;
    border: 0px;
    
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 80px;
    margin-left: 240px;
    margin-bottom: 216px;
    border: none;
    margin-top: 50px;

}
 @media screen and (max-width:576px) {
    
    
      
    
 }
